.contacts {
  @include container;
  padding: 110px 20px;
}

.contacts-title {
  @include title;

  margin: 0;
  margin-bottom: 20px;
}

.contacts-text {
  text-align: center;

  margin: 0;
  margin-bottom: 100px;
  margin-left: 250px;
  margin-right: 250px;
}

.contacts-list {
  @include list-unstyled;

  display: flex;
  flex-wrap: wrap;

  max-width: 460px;
  margin: 0 auto;
}

.contacts-item:not(:nth-child(6n)) {
  margin-right: 50px;
}

.contacts-link svg {
  stroke: $regular-text-color;
  stroke-width: 3px;
  transition: 0.3s;
}

.contacts-link:hover svg {
    stroke: $accent-color-dark;
}
