.navigation {
  @include container;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  @include list-unstyled;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.navigation-item {
  &:not(:last-of-type) {
    overflow: hidden;
    margin-right: 80px;
  }
}

.navigation-link {
  @include unlink;
  padding: 15px 0;
  color: $regular-text-color;

  & span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;

    &::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      color: $accent-color-dark;
      transform: translate3d(0, 0, 0);
    }
  }

  &:hover span {
    transform: translateY(-100%);
  }
}

