@mixin container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin title () {
  font-size: 48px;
  line-height: 48px;
  color: $bold-text-color;
  text-align: center;
}

@mixin unlink () {
  text-decoration: none;
}

@mixin list-unstyled () {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
