@font-face {
  font-family: "Inter Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/inter-regular.woff2") format("woff2")
}

@font-face {
  font-family: "Inter Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/inter-medium.woff2") format("woff2")
}

@font-face {
  font-family: "Inter Semi-bold";
  font-weight: 600;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/inter-semibold.woff2") format("woff2")
}

@font-face {
  font-family: "Inter Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/inter-bold.woff2") format("woff2")
}

html {
  height: 100%; // for sticky-footer
}

body {
  display: flex; // for sticky-footer
  flex-direction: column; // for sticky-footer
  min-height: 100%; // for sticky-footer

  margin: 0;
  min-width: 1440px;

  font-family: $font-regular;
  font-size: 18px;
  line-height: 28px;
  color: $regular-text-color;
  background-color: $base-color;
}

img {
  max-width: 100%;
  height: auto;
}

.main-container {
  flex-grow: 1; // for sticky-footer
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
