// Цвета
$base-color: #ffffff;
$regular-text-color: #6b7280;
$accent-text-color: #9ca3af;
$bold-text-color: #1f2937;
$accent-color-dark: #3730a3;
$accent-color-warm: #fef2f2;
$accent-color-cold: #eef2ff;

// Шрифты
$font-regular: "Inter Regular", "Arial", sans-serif;
$font-medium: "Inter Medium", "Arial", sans-serif;
$font-semibold: "Inter Semi-bold", "Arial", sans-serif;
$font-bold: "Inter Bold", "Arial", sans-serif;

// Ширины
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
